<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Фильмы</title>

</head>
<body>


<a href="/favorites">Избранное ({{ favorites_count }})</a>
<a href="/random">Случайный фильм</a>


<h1>Каталог фильмов</h1>

{% for movie in movies %}

        <h2>{{ movie.title }}</h2>
<p>Год: {{ movie.year }} </p>
<p>Жанр: {{ movie.genre }} </p>
<p>Рейтинг: {{ movie.rating }}</p>

        {% if movie.id in favorites %}
            <p>Уже в избранном</p>
        {% else %}
            <a href="/add/{{ movie.id }}">Добавить в избранное</a>
        {% endif %}

{% endfor %}

</body>
</html>